<section class="hero is-dark is-medium">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <h3>Eagle Productivity Solutions</h3>
                    <span class="navbar-burger burger" data-target="navbarMenuHeroA">
                    <span>wu</span>
                    <span>tang</span>
                    <span>fu</span>
                    </span>
                </div>
                <div id="navbarMenuHeroA" class="navbar-menu">
                    <div class="navbar-end">
                        <a class="navbar-item is-active">
                            US Gallery
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            <section class="section">
                <img src="https://eagleproductivity.com/images/eagle.png" alt="Eagle Logo">
            </section>
            <h1 class="title is-1 is-spaced has-text-centered">
                Talent Gallery
            </h1>
        </div>
    </div>
    <!--TODO: Set up the filter logic in here-->
    <div class="hero-foot">
        <nav class="tabs">
            <div class="container">
                <!--<ul>
                    <li class="is-active"><a>Overview</a></li>
                    <li><a>Modifiers</a></li>
                    <li><a>Grid</a></li>
                    <li><a>Elements</a></li>
                    <li><a>Components</a></li>
                    <li><a>Layout</a></li>
                </ul>-->
            </div>
        </nav>
    </div>
</section>
