<div class="card">
    <img alt="Profile image" data-src="_provided.picture" class="card-img-top">
    <div class="card-body">
        <div class="card-title">
            <h2>{{_provided.name}}</h2>
            <p><br>
                You'll find {{_provided.name}}'s audio sample below.&nbsp;Click the microphone icon to listen right now.
            </p>
        </div>
        <div class="card-link" align="center">
            <div class="animated bounce">
                <div class="animated bounce " style="color:#F5A102" data-click="play">
                    <i class="fas fa-microphone-alt fa-2x" data-show="ready"></i>
                    <i class="fas fa-pause fa-2x" data-hide="ready"></i>
                </div>
            </div>
        </div>
    </div>

</div>
