<div id="talentContainer">
    <navigation></navigation>
    <section class="hero is-white is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-multiline is-mobile is-centered">
                    <div v-for="item in galleryData" class="column is-one-third-tablet is-12-mobile is-one-fifth-desktop is-centered">
                        <div>
                            <talent-card v-if="item.language" v-bind:profile="item"></talent-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
