<div class="card">
    <talent-modal v-if="showModal" @close="toggleModal" v-bind:profile="profile"></talent-modal>
    <div class="card-image">
        <figure class="image is-4by3">
            <img v-bind:src="profile.picture" alt="Placeholder image">
        </figure>
    </div>
    <div class="card-content">
        <p class="title">{{ profile.name}}</p>
        <p class="subtitle">{{ profile.language }}</p>
    </div>
    <footer class="card-footer">
        <p v-if="profile.type === 'video'" class="card-footer-item">
            <button
                    type="button"
                    class="button is-warning modal-button"
                    v-on:click="toggleModal">
                <i class="fas fa-play"></i>
                VIDEO
            </button>
        </p>
        <p v-if="profile.type === 'audio'" class="card-footer-item">
            <span>Audio</span>
        </p>
    </footer>
</div>

