<div class="mb-3 row">
    <div class="col">
        [[intro]]
    </div>
    <div>
        <a class="btn btn-outline-primary" data-toggle="collapse" href="#accentFilter" role="button" aria-expanded="false" aria-controls="collapseExample">
            Set Accent filter
        </a>
    </div>

</div>

<div class="collapse mb-3" id="accentFilter">
    <div class="row mb-3" data-for="accents">
        <div class="col-4">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input chosen-accent" id="switch$i">
                <label class="custom-control-label" for="switch$i">{{accents.$i.name}}</label>
            </div>
        </div>

    </div>
    <button class="btn btn-outline-secondary" data-click="setAccents"><i class="fas fa-filter"></i> set</button>
</div>

