<ul class="nav justify-content-center">
    <li class="nav-item" data-click="newProfile">
        <a href="#" class="nav-link">
            <i class="fas fa-user-plus"></i> talents
        </a>
    </li>
    <li class="nav-item" data-click="showSettings">
        <a href="#" class="nav-link">
            <i class="fas fa-wrench"></i> settings
        </a>
    </li>
    <li class="nav-item">
        <a href="{{base}}logout" class="nav-link">
            <i class="fas fa-sign-out-alt"></i> logout
        </a>
    </li>
</ul>

<div class="container">
    <div data-hide="profileMode">
        <admin-settings></admin-settings>
    </div>
    <div data-show="profileMode">
        <div class="row">
            <div class="col-sm-6">
                <profile-list></profile-list>
            </div>
            <div class="col-sm">
                <profile></profile>
            </div>
        </div>
    </div>

</div>
