
<!-- INFO toast-->
<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="position: absolute;z-index: 9; top:10px; right:10px;">
    <div class="toast-header">
        <strong class="mr-auto">Info</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body">
        <h3>File locations</h3>
        <p>File locations should:</p>
        <ul>
            <li>Include the protocol (https://)</li>
            <li>Be compressed (e.g. audio as .mp3 rather than .wav)</li>
            <li>
                Video-locations can be
                <ul>
                    <li><a href="https://learntodomore.com/apps/review/">learntodomore review files</a> </li>
                    <li><a href="https://youtube.com">youtube share links</a> </li>
                    <li><a href="https://vimeo.com">vimeo share links</a> </li>
                </ul>
            </li>
            <li>Be of reasonable size to enable fast loading</li>
        </ul>
    </div>
</div>
<!-- Main view -->
<admin-view></admin-view>

